@{
    ViewBag.Title = "About";
}

<div class="context" style=" font-size: 18px; padding: 20px;">
    <h1 style="text-align: center;">Giới thiệu</h1>
    <p style="padding-left: 200px;">
        Mua laptop là rất quan trọng đối với sinh viên nói riêng và người lớn nói chung. Tìm một địa chỉ mua laptop an toàn,<br>
        uy tín và hiệu quả là điều cần thiết. Nếu không, bạn sẽ dễ dàng bị lợi dụng bởi những nơi không đáng tin cậy. Vì thế <br>
        hãy đến với chúng tôi, chúng tôi sẽ đáp ứng mọi nhu cầu của bạn <i class="fa-solid fa-heart-circle-check"></i>
        <i class="fa-solid fa-heart-circle-check"></i> <i class="fa-solid fa-heart-circle-check"></i>.<br>
        Shop cam kết chỉ bán laptop chính hãng, nguyên bản 100%, ngoại hình của thiết bị vẫn đẹp từ 95% đến 100%, tuyệt <br>
        đối không mua và bán bị lỗi, kém chất lượng hoặc sửa chữa, thay thế linh kiện. phụ kiện. Mỗi chiếc laptop đang chờ <br> bán đều có hình ảnh thật trên
        website để khách hàng tham khảo, giá đưa ra là vô cùng cạnh tranh.<br>
        Ngoài ra, nhân viên phục vụ ở đây rất tốt và tận tụy, hậu mãi cũng cực kỳ tốt với chế độ bảo hành chuyên nghiệp và <br> lâu dài
        <i class="fa-solid fa-headphones-simple"></i> <i class="fa-solid fa-headphones-simple"></i> <i class="fa-solid fa-headphones-simple"></i>.<br><br>
        <b style="color: red; font-size: 20px;">Thông tin liên lạc:</b><br>
        Trang web: website.com<br>
        Gọi để mua: 999999999 (7:30 – 22:00)<br>
        Gọi để khiếu nại: 1800.1062 (8:00 – 21:30)<br>
        Cuộc gọi bảo hành: 1800.1064 (8:00 – 21:00)<br>
        Hỗ trợ kỹ thuật: 1800.1763 (7:30 – 22:00)<br><br>
    </p>
    <div class="Images" style="padding-left: 200px; padding-bottom: 10px;">
        <img src="Images/gioithieu.png" style="padding-bottom: 10px;">
        <img src="Images/gioithieu1.png">
    </div>
</div>
